Repository xenoterracide/spring-app-commons: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore(ai): refresh AI skill metadata (#145)
  .ai/mcp/mcp.json
  .ai/mcp/mcp.json.license
  .ai/skills/commit-or-pr-message/SKILL.md
  .ai/skills/github/SKILL.md
  .ai/skills/shell-script/SKILL.md
Due: none

chore: remove to try subtree again
  .ai/mcp/mcp.json
  .ai/mcp/mcp.json.license
  .ai/skills/commit-or-pr-message/SKILL.md
  .ai/skills/github/SKILL.md
  .ai/skills/shell-script/SKILL.md
  .ai/skills/skill-creator/SKILL.md
Due: none

feat(pr-message): add multi-engine support and auto-detection fallback
  scripts/pr-message.sh
Due: none

chore(scripts): update merge workflows and add cleaner improvements
  package.json
Due: none

chore: update `.gitignore` and tool versions
  .gitignore
  .tool-versions
Due: none

chore: simplify license identifiers for publication tasks
  buildSrc/src/main/kotlin/our.convention.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: remove unused `our.javacompile` plugin and update dependencies
  buildSrc/build.gradle.kts
  buildSrc/gradle.lockfile
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
  buildSrc/src/main/kotlin/our.javalibrary.gradle.kts
  buildSrc/src/main/kotlin/our.jpamodel.gradle.kts
  buildscript-gradle.lockfile
  gradle/libs.versions.toml
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: add `javadoc` and `test` plugins to build configuration
  buildSrc/build.gradle.kts
  buildSrc/gradle.lockfile
  buildSrc/src/main/kotlin/our.convention.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: add `@NullMarked` annotations to package-level declarations and fix `@Nullable` usage
  module/app-core/src/main/java/com/xenoterracide/package-info.java
  module/authn-controller/src/main/java/com/xenoterracide/controller/authn/package-info.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/annotation/package-info.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/package-info.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/transaction/package-info.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/util/package-info.java
  module/commons-model/src/main/java/com/xenoterracide/commons/model/Identifiable.java
  module/commons-model/src/main/java/com/xenoterracide/commons/model/package-info.java
  module/security-controller/src/main/java/com/xenoterracide/controller/security/package-info.java
  module/security-model/src/main/java/com/xenoterracide/model/security/package-info.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/package-info.java
  module/security-model/src/main/java/module-info.java
  module/test-app-core/src/main/java/com/xenoterracide/package-info.java
  module/test-authorization-server/src/main/java/com/xenoterracide/authorization/server/package-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: configure `javadoc` task to include only `.java` files
  buildSrc/src/main/kotlin/our.convention.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: replace `java-library` and `java-test-fixtures` plugins with `com.xenoterracide.gradle.convention.test`
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: add `version-catalog-spring-boot` and streamline dependency bundles
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  buildSrc/src/main/kotlin/our.jpamodel.gradle.kts
  gradle/libs.versions.toml
  module/security-controller/gradle.lockfile
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  settings-gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: remove unused dependencies and annotations
  module/security-controller/build.gradle.kts
  module/security-model/src/main/java/com/xenoterracide/model/security/user/package-info.java
  module/security-model/src/main/java/module-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: update `.gitattributes` for linguist and binary file handling
  .gitattributes
Due: none

chore: simplify license configuration in `.lintstagedrc.yml`
  .lintstagedrc.yml
Due: none

build: migrate to convention plugins 0.16.x and update dependencies (#155)
  .gitattributes
  .lintstagedrc.yml
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/gradle.lockfile
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
  buildSrc/src/main/kotlin/our.javalibrary.gradle.kts
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  buildSrc/src/main/kotlin/our.jpamodel.gradle.kts
  buildscript-gradle.lockfile
  gradle/libs.versions.toml
  module/app-core/gradle.lockfile
  module/app-core/src/main/java/com/xenoterracide/package-info.java
  module/authn-controller/gradle.lockfile
  module/authn-controller/src/main/java/com/xenoterracide/controller/authn/package-info.java
  module/commons-jpa/gradle.lockfile
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/annotation/package-info.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/package-info.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/transaction/package-info.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/util/package-info.java
  module/commons-model/gradle.lockfile
  module/commons-model/src/main/java/com/xenoterracide/commons/model/Identifiable.java
  module/commons-model/src/main/java/com/xenoterracide/commons/model/package-info.java
  module/security-controller/build.gradle.kts
  module/security-controller/gradle.lockfile
  module/security-controller/src/main/java/com/xenoterracide/controller/security/package-info.java
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  module/security-model/src/main/java/com/xenoterracide/model/security/package-info.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/package-info.java
  module/security-model/src/main/java/module-info.java
  module/test-app-core/gradle.lockfile
  module/test-app-core/src/main/java/com/xenoterracide/package-info.java
  module/test-authorization-server/gradle.lockfile
  module/test-authorization-server/src/main/java/com/xenoterracide/authorization/server/package-info.java
  settings-gradle.lockfile
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

ci: update branch trigger pattern in Java update workflow
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: simplify Java update workflow by reusing shared action
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

chore: remove deprecated git hooks and adjust paths for `.share/`
  .config/git/hooks/commit-msg
  .config/git/hooks/pre-commit
  .envrc
  package.json
Due: none

chore: fix license
  .share/.github/workflows/pre-commit.yml
Due: none

chore: remove trailing newline in REUSE.toml
  .share/REUSE.toml
Due: none

ci: update Java workflow to use reusable action and fix secrets syntax
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: fix secrets syntax in update-java workflow
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: update branch pattern in update-java workflow trigger
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: add missing `needs` in update-java workflow
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: simplify update-java workflow by removing `create-pr` step
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: add `pull-requests: write` permission to update-java workflow
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: add `contents: read` and `packages: read` permissions to update-java workflow
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: remove redundant branch pattern from update-java workflow
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

error(junie): failed to generate message (#157)
  .github/workflows/update-java.yml
  .share/.ai/mcp/mcp.json
  .share/.ai/mcp/mcp.json.license
  .share/.ai/skills/commit-or-pr-message/SKILL.md
  .share/.ai/skills/github/SKILL.md
  .share/.ai/skills/java/SKILL.md
  .share/.ai/skills/shell-script/SKILL.md
  .share/.ai/skills/skill-creator/SKILL.md
  .share/.editorconfig
  .share/.envrc
  .share/.gitattributes
  .share/.github/renovate.json5
  .share/.github/workflows/pre-commit.yml
  .share/.gitignore
  .share/.lintstagedrc.cjs
  .share/.prettierignore
  .share/.prettierrc.cjs
  .share/.share
  .share/.tool-versions
  .share/AGENTS.md
  .share/Makefile
  .share/README.md
  .share/REUSE.toml
  .share/bin/pr-message.sh
  .share/git-conventional-commits.yaml
  .share/git/hooks/commit-msg
  .share/git/hooks/pre-commit
  .share/package.json
  .share/package.json.license
  .share/pyproject.toml
  .share/renovate.json5
  .share/requirements.txt
  .share/yarn.lock
  package.json
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python

chore: remove .ai
  .ai/mcp/mcp.json
  .ai/mcp/mcp.json.license
  .ai/skills/commit-or-pr-message/SKILL.md
  .ai/skills/github/SKILL.md
  .ai/skills/java/SKILL.md
  .ai/skills/shell-script/SKILL.md
  .ai/skills/skill-creator/SKILL.md
Due: none

chore: remove .share
  .share/.ai/mcp/mcp.json
  .share/.ai/mcp/mcp.json.license
  .share/.ai/skills/commit-or-pr-message/SKILL.md
  .share/.ai/skills/github/SKILL.md
  .share/.ai/skills/java/SKILL.md
  .share/.ai/skills/shell-script/SKILL.md
  .share/.ai/skills/skill-creator/SKILL.md
  .share/.editorconfig
  .share/.envrc
  .share/.gitattributes
  .share/.github/renovate.json5
  .share/.github/workflows/pre-commit.yml
  .share/.gitignore
  .share/.lintstagedrc.cjs
  .share/.prettierignore
  .share/.prettierrc.cjs
  .share/.share
  .share/.tool-versions
  .share/AGENTS.md
  .share/Makefile
  .share/README.md
  .share/REUSE.toml
  .share/bin/pr-message.sh
  .share/git-conventional-commits.yaml
  .share/git/hooks/commit-msg
  .share/git/hooks/pre-commit
  .share/package.json
  .share/package.json.license
  .share/pyproject.toml
  .share/renovate.json5
  .share/requirements.txt
  .share/yarn.lock
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python

chore: simplify pre-commit workflow by delegating to shared configuration
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

chore: fix relative path to shared pre-commit workflow configuration
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

chore: update pre-commit workflow to use external shared configuration from xenoterracide repo
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

chore: update REUSE.toml and regenerate requirements.txt with hashes
  REUSE.toml
  requirements.txt
Due: reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python

chore: remove reuse annotations for Python requirements in lint-staged configuration
  .lintstagedrc.yml
Due: none

chore: split pre-commit workflow into license and format jobs
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

chore: pin shared pre-commit workflows to specific commit hash
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

chore: update commit hash for shared pre-commit workflows in GitHub Actions
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

Path conditions:
  reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.java
  prettier --cache --ignore-unknown --write: (((any of: *.java) or (any of: *.github/workflows/*yml)) or (any of: (*.md|*.adoc))) or (any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap))
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised: any of: *.gradle.kts
  ktlint --format: any of: *.gradle.kts
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: Makefile
  reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.md|*.adoc)
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python: any of: requirements.*
  reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license: any of: gradle-wrapper.jar
