Repository xenoterracide/spring-app-commons: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

.lintstagedrc.yml:

# SPDX-FileCopyrightText: Copyright Â© 2024 - 2025 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

# Software
"*.java":
  - "reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - &prettier "prettier --cache --ignore-unknown --write"
# Build Scripts
"*.gradle.kts":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised"
  - ktlint --format
"Makefile":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
"*.github/workflows/*yml":
  - *prettier
# Documentation
"(*.md|*.adoc)":
  - "reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Trivial files
"(*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Python requirements
"requirements.*":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python"
# Gradle Wrapper
"gradle-wrapper.jar":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license"

chore(gradle): refine javadoc task configuration to avoid duplicates
  buildSrc/src/main/kotlin/our.convention.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

docs(agents): improve documentation with architecture details and additional guidelines
  AGENTS.md
Due: none

chore(gradle): refine javadoc task configuration to prevent early task realization
  buildSrc/src/main/kotlin/our.convention.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(gradle): update SPDX copyright header in `build.gradle.kts`
  module/app-core/build.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

ci: consolidate workflows and add publish job (#166)
  .github/workflows/build.yml
  .github/workflows/full.yml
  .github/workflows/gh-publish.yml
  .github/workflows/update-java.yml
  AGENTS.md
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  module/app-core/build.gradle.kts
  settings.gradle.kts
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

[create-pull-request] automated change
  module/security-model/buildscript-gradle.lockfile
Due: none

chore(deps): java (#168)
  module/security-model/buildscript-gradle.lockfile
Due: none

feat(docs): add use case templates and user registration specification
  docs/templates/use-case-fowler.adoc
  docs/templates/use-case-maintainable.adoc
  docs/use-cases/uc-registration.adoc
  gradle/libs.versions.toml
Due: none

docs(use-cases): replace anchor syntax to improve readability and maintainability in registration use case
  docs/use-cases/uc-registration.adoc
Due: none

chore: manually crafted lists
  docs/use-cases/uc-registration.adoc
Due: none

chore: update copyrights
  docs/use-cases/uc-registration.adoc
  module/commons-jpa/src/test/java/module-info.java
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateDomainEventsTest.java
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateTransactionTest.java
  module/commons-model/src/test/java/com/xenoterracide/commons/model/test/WritableRepositoryTest.java
  module/commons-model/src/test/java/module-info.java
  module/security-controller/src/test/java/com/xenoterracide/model/security/controller/test/RegistrationCtrlrTest.java
  module/security-controller/src/test/java/module-info.java
  module/security-model/src/main/java/module-info.java
  module/security-model/src/test/java/com/xenoterracide/model/security/user/test/UserJpaTest.java
  module/security-model/src/test/java/module-info.java
  module/test-authorization-server/src/main/java/com/xenoterracide/authorization/server/AuthorizationServer.java
  module/test-authorization-server/src/test/java/com/xenoterracide/authorization/server/AuthorizationServerTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

docs: improve main success scenario linking
  docs/templates/use-case-maintainable.adoc
  docs/use-cases/uc-registration.adoc
Due: none

docs: add ubiquitous language documentation
  docs/templates/use-case-fowler.adoc
  docs/templates/use-case-maintainable.adoc
  docs/use-cases/uc-registration.adoc
Due: none

chore: add use case skill
  .ai/skills/use-case-creator/SKILL.md
  .ai/skills/use-case-creator/assets/uc-registration-example.adoc
Due: none

docs: add template/ubiquitous language
  docs/templates/use-case.adoc
  docs/ubiquitous-language/index.adoc
Due: none

chore: mention principle
  docs/ubiquitous-language/index.adoc
Due: none

feat: use more correct oidc terminology
  module/security-controller/src/main/java/com/xenoterracide/controller/security/RegistrationCtrlr.java
  module/security-controller/src/main/resources/com/xenoterracide/model/security/controller/registration.graphqls
  module/security-controller/src/test/resources/graphql-test/RegisterUser.graphql
  module/security-model/src/main/java/com/xenoterracide/model/security/user/IdentityProviderUser.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/User.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/UserFactory.java
  module/security-model/src/testFixtures/java/com/xenoterracide/model/security/fixtures/UserTestDataBuilders.java
  module/security-model/src/testWhitebox/java/com/xenoterracide/model/security/UserTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: update RegistrationInput dto to have stricter validation
  module/security-controller/src/main/java/com/xenoterracide/controller/security/RegistrationCtrlr.java
  module/security-controller/src/main/resources/com/xenoterracide/model/security/controller/registration.graphqls
  module/security-controller/src/test/resources/graphql-test/RegisterUser.graphql
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: fix not autoformatting graphql
  .lintstagedrc.yml
  module/security-controller/src/test/resources/graphql-test/RegisterUser.graphql
Due: none

feat(security): refactor identity provider to use OIDC issuer/subject pa (#169)
  .ai/skills/use-case-creator/SKILL.md
  .ai/skills/use-case-creator/assets/uc-registration-example.adoc
  .lintstagedrc.yml
  docs/templates/use-case.adoc
  docs/ubiquitous-language/index.adoc
  docs/use-cases/uc-registration.adoc
  gradle/libs.versions.toml
  module/commons-jpa/src/test/java/module-info.java
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateDomainEventsTest.java
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateTransactionTest.java
  module/commons-model/src/test/java/com/xenoterracide/commons/model/test/WritableRepositoryTest.java
  module/commons-model/src/test/java/module-info.java
  module/security-controller/src/main/java/com/xenoterracide/controller/security/RegistrationCtrlr.java
  module/security-controller/src/main/resources/com/xenoterracide/model/security/controller/registration.graphqls
  module/security-controller/src/test/java/com/xenoterracide/model/security/controller/test/RegistrationCtrlrTest.java
  module/security-controller/src/test/java/module-info.java
  module/security-controller/src/test/resources/graphql-test/RegisterUser.graphql
  module/security-model/src/main/java/com/xenoterracide/model/security/user/IdentityProviderUser.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/User.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/UserFactory.java
  module/security-model/src/main/java/module-info.java
  module/security-model/src/test/java/com/xenoterracide/model/security/user/test/UserJpaTest.java
  module/security-model/src/test/java/module-info.java
  module/security-model/src/testFixtures/java/com/xenoterracide/model/security/fixtures/UserTestDataBuilders.java
  module/security-model/src/testWhitebox/java/com/xenoterracide/model/security/UserTest.java
  module/test-authorization-server/src/main/java/com/xenoterracide/authorization/server/AuthorizationServer.java
  module/test-authorization-server/src/test/java/com/xenoterracide/authorization/server/AuthorizationServerTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: improve AGENTS.mdk
  AGENTS.md
  gradle/wrapper/gradle-wrapper.properties.license
Due: none

docs: update AGENTS.md
  AGENTS.md
Due: none

chore: update locks
  buildSrc/gradle.lockfile
  gradle.lockfile
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore: prototype axon
  buildSrc/gradle.lockfile
  gradle.lockfile
  gradle/libs.versions.toml
  module/app-core/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  module/security-model/src/main/java/com/xenoterracide/model/security/user/IdentityProviderAssociated.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/OIDCSubject.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/RegisterNewUser.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/UserCreated.java
  module/security-model/src/main/java/module-info.java
  module/security-model/src/test/java/com/xenoterracide/model/security/user/test/RegisterIdentityProviderSubjectTest.java
  module/security-model/src/test/java/module-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

[create-pull-request] automated change
  buildSrc/gradle.lockfile
Due: none

chore(deps): java (#170)
  buildSrc/gradle.lockfile
Due: none

feat(axon): introduce command handler for user registration and update Axon configuration
  .ai/mcp/mcp.json
  buildSrc/gradle.lockfile
  gradle/libs.versions.toml
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  module/security-model/src/main/java/com/xenoterracide/model/security/user/RegisterNewUser.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/RegistrationCommandHandler.java
  module/security-model/src/main/java/module-info.java
  module/security-model/src/test/java/com/xenoterracide/model/security/user/test/RegisterNewUserTest.java
  module/security-model/src/test/java/module-info.java
  module/security-model/src/testFixtures/java/com/xenoterracide/model/security/fixtures/AxonConfig.java
  module/security-model/src/testFixtures/java/module-info.java
  module/test-app-core/gradle.lockfile
  module/test-app-core/src/main/java/com/xenoterracide/TestApplication.java
  module/test-app-core/src/main/java/module-info.java
  module/test-authorization-server/gradle.lockfile
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore(deps): java (#171)
  buildSrc/gradle.lockfile
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

feat(tests): update user registration test to use Axon configuration and enhance SpotBugs task
  module/security-model/build.gradle.kts
  module/security-model/src/test/java/com/xenoterracide/model/security/user/test/RegisterNewUserTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

feat(tests): enhance user registration test to assert UserCreated event properties
  module/security-model/src/test/java/com/xenoterracide/model/security/user/test/RegisterNewUserTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat(axon): update UserCreated event to include user name and enhance registration test
  module/security-model/src/main/java/com/xenoterracide/model/security/user/RegistrationCommandHandler.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/UserCreated.java
  module/security-model/src/test/java/com/xenoterracide/model/security/user/test/RegisterNewUserTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat(deps): add immutables-data dependency and update gradle.lockfile versions
  buildSrc/gradle.lockfile
  gradle/libs.versions.toml
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
  module/security-model/src/main/java/com/xenoterracide/model/security/user/UserFactory.java
  module/security-model/src/main/java/module-info.java
  module/security-model/src/test/java/com/xenoterracide/model/security/user/test/RegisterNewUserTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

feat(deps): update immutables-data dependency and adjust builder creation methods
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  gradle/libs.versions.toml
  module/security-model/gradle.lockfile
  module/security-model/src/main/java/com/xenoterracide/model/security/user/IdentityProviderUser.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/User.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/UserFactory.java
  module/security-model/src/main/java/module-info.java
  module/security-model/src/testFixtures/java/com/xenoterracide/model/security/fixtures/UserTestDataBuilders.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

feat(deps): update immutables dependencies and adjust annotation processing
  buildSrc/src/main/kotlin/our.bom.gradle.kts
  buildSrc/src/main/kotlin/our.convention.gradle.kts
  buildSrc/src/main/kotlin/our.jpamodel.gradle.kts
  gradle/libs.versions.toml
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/security-model/src/main/java/com/xenoterracide/model/security/user/RegisterNewUser.java
  module/security-model/src/main/java/module-info.java
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

docs(agents): update AGENTS.md to clarify GitHub job timeouts and Gradle task requirements
  AGENTS.md
Due: none

docs(agents): add note about skills location in AGENTS.md
  AGENTS.md
Due: none

docs(agents): enhance AGENTS.md with additional architectural details
  AGENTS.md
Due: none

feat(user): add @Data annotation to UserCreated record for improved immutability
  module/security-model/src/main/java/com/xenoterracide/model/security/user/UserCreated.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write
