Repository xenoterracide/spring-app-commons: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore: update Java toolchain and workflows to Java 25
  .github/workflows/build.yml
  .github/workflows/full.yml
  .github/workflows/gh-publish.yml
  .github/workflows/update-java.yml
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: update convention plugin
  buildSrc/gradle.lockfile
  gradle/libs.versions.toml
Due: none

chore: update convention plugin (#71)
  buildSrc/gradle.lockfile
  gradle/libs.versions.toml
Due: none

[create-pull-request] automated change
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.jar.license
  gradle/wrapper/gradle-wrapper.properties
Due: reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

[create-pull-request] automated change (#72)
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.jar.license
  gradle/wrapper/gradle-wrapper.properties
Due: reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

[create-pull-request] automated change
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#73)
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#74)
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#75)
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
Due: none

[create-pull-request] automated change (#77)
  buildSrc/gradle.lockfile
Due: none

[create-pull-request] automated change
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change (#78)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change (#80)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  module/app-core/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change (#82)
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  module/app-core/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change (#87)
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#88)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change (#91)
  buildSrc/gradle.lockfile
Due: none

chore: update GitHub workflow scripts to improve ref handling and conditional executions
  .github/workflows/gh-publish.yml
Due: prettier --cache --ignore-unknown --write

chore: update GitHub workflow scripts to improve ref handling and conditional executions (#92)
  .github/workflows/gh-publish.yml
Due: prettier --cache --ignore-unknown --write

chore(renovate): normalize schedules; auto-merge settings rule weekly
  .github/renovate.json5
Due: none

chore(python): use pip-compile (PEP 621); remove requirements.in; docs: README pip-compile instructions
  .github/renovate.json5
  README.md
  pyproject.toml
  requirements.in
Due: reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python

chore(renovate): use minutes=* for Renovate cron schedules
  .github/renovate.json5
Due: none

chore(renovate): clarify cron comments to reflect Renovate minutes='*' semantics
  .github/renovate.json5
Due: none

chore(renovate): Update schedules and configuration
  .github/renovate.json5
Due: none

chore(renovate): Update schedules and dependencies across projects
  .github/renovate.json5
  README.md
Due: none

chore/renovate normalize rules (#93)
  .github/renovate.json5
  README.md
  pyproject.toml
  requirements.in
Due: reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python

[create-pull-request] automated change (#96)
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore(gradle): update semver plugin
  buildscript-gradle.lockfile
  gradle/libs.versions.toml
Due: none

chore(gradle): update semver plugin (#97)
  buildscript-gradle.lockfile
  gradle/libs.versions.toml
Due: none

chore(gradle): add immutables version reference and update BOM definition
  gradle/libs.versions.toml
Due: none

chore(gradle): add immutables version reference and update BOM definition (#98)
  gradle/libs.versions.toml
Due: none

Path conditions:
  reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.java
  prettier --cache --ignore-unknown --write: (((any of: *.java) or (any of: *.github/workflows/*yml)) or (any of: (*.md|*.adoc))) or (any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap))
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised: any of: *.gradle.kts
  ktlint --format: any of: *.gradle.kts
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: Makefile
  reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.md|*.adoc)
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python: any of: requirements.*
  reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license: any of: gradle-wrapper.jar
