Repository xenoterracide/spring-app-commons: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

build: fix publish
  .github/workflows/gh-publish.yml
  buildSrc/src/main/kotlin/our.convention.gradle.kts
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: remove publish
  .github/workflows/publish.yml
Due: prettier --cache --ignore-unknown --write

chore: just use properties
  .github/workflows/gh-publish.yml
Due: prettier --cache --ignore-unknown --write

build: fix maven publication (#221)
  .github/workflows/gh-publish.yml
  .github/workflows/publish.yml
  buildSrc/src/main/kotlin/our.convention.gradle.kts
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

[create-pull-request] automated change
  gradle/wrapper/gradle-wrapper.properties
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

chore: DRY change jboss logging
  buildSrc/src/main/kotlin/our.bom.gradle.kts
  module/authn-controller/build.gradle.kts
  module/security-controller/build.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: DRY change jboss logging (#223)
  buildSrc/src/main/kotlin/our.bom.gradle.kts
  module/authn-controller/build.gradle.kts
  module/security-controller/build.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: don't use set for 2 items
  buildSrc/src/main/kotlin/our.bom.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: reformat
  buildSrc/src/main/kotlin/our.bom.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: don't use set (#224)
  buildSrc/src/main/kotlin/our.bom.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: remove unecessary matching
  buildSrc/src/main/kotlin/our.bom.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: remove unecessary matching (#225)
  buildSrc/src/main/kotlin/our.bom.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: put license in its own file
  gradle/wrapper/gradle-wrapper.properties.license
Due: none

chore: run npm updates on wed
  .github/renovate.json5
Due: none

chore: put license in its own file (#226)
  .github/renovate.json5
  gradle/wrapper/gradle-wrapper.properties.license
Due: none

chore: install from requirements
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

chore: update pre-commit
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

chore: update to use requirements (#227)
  .github/workflows/pre-commit.yml
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

chore(deps): java (#222)
  gradle/wrapper/gradle-wrapper.properties
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

ci: sync renovate
  .github/renovate.json5
Due: none

ci: fix minutes not being wild
  .github/renovate.json5
Due: none

ci: sync renovate (#228)
  .github/renovate.json5
Due: none

ci: only publish on full build
  .github/workflows/gh-publish.yml
Due: prettier --cache --ignore-unknown --write

ci: only publish on full build (#229)
  .github/workflows/gh-publish.yml
Due: prettier --cache --ignore-unknown --write

ci: update java deps every day
  .github/renovate.json5
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: update java deps every day (#230)
  .github/renovate.json5
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

chore: fix copyright dates
  .github/workflows/build.yml
  .github/workflows/full.yml
Due: prettier --cache --ignore-unknown --write

chore: fix copyright dates (#231)
  .github/workflows/build.yml
  .github/workflows/full.yml
Due: prettier --cache --ignore-unknown --write

ci: watch for publish
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

ci: watch for publish (#232)
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

[create-pull-request] automated change
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore(deps): java (#233)
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

ci: publish on build again
  .github/workflows/gh-publish.yml
Due: prettier --cache --ignore-unknown --write

build: revert to watch publish
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

ci: publish on build again (#234)
  .github/workflows/gh-publish.yml
  Makefile
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

build: validate
  .github/workflows/gh-publish.yml
Due: prettier --cache --ignore-unknown --write

ci: check num file changes
  .github/workflows/gh-publish.yml
Due: prettier --cache --ignore-unknown --write

build: remove validate from publish (#235)
  .github/workflows/gh-publish.yml
Due: prettier --cache --ignore-unknown --write

ci: don't publish on dependency update branches
  .github/workflows/gh-publish.yml
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

ci: don't publish on dependency update branches (#236)
  .github/workflows/gh-publish.yml
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

Path conditions:
  reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.java
  prettier --cache --ignore-unknown --write: (((any of: *.java) or (any of: *.github/workflows/*yml)) or (any of: (*.md|*.adoc))) or (any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap))
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised: any of: *.gradle.kts
  ktlint --format: any of: *.gradle.kts
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: Makefile
  reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.md|*.adoc)
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python: any of: requirements.*
  reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license: any of: gradle-wrapper.jar
