Repository xenoterracide/spring-app-commons: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

.lintstagedrc.yml:

# SPDX-FileCopyrightText: Copyright Â© 2024 - 2025 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

# Software
"*.java":
  - "reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - &prettier "prettier --cache --ignore-unknown --write"
# Build Scripts
"*.gradle.kts":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised"
  - ktlint --format
"Makefile":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
"*.github/workflows/*yml":
  - *prettier
# Documentation
"(*.md|*.adoc)":
  - "reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Trivial files
"(*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Python requirements
"requirements.*":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python"
# Gradle Wrapper
"gradle-wrapper.jar":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license"

chore(git): add prepare-commit-msg hook for Copilot-powered commit messages
  .config/git/hooks/prepare-commit-msg
  package.json
Due: none

chore(git): add prepare-commit-msg hook for Copilot-powered commit messages (#135)
  .config/git/hooks/prepare-commit-msg
  package.json
Due: none

chore: update libs
  gradle/libs.versions.toml
Due: none

chore: remove @NonNull
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractAggregate.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractIdentitifier.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractSurrogateEntity.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AggregateIdentifier.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/DomainEvent.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/transaction/TransactionScopeConfiguration.java
  module/commons-jpa/src/testFixtures/java/com/xenoterracide/jpa/fixtures/BarEntity.java
  module/commons-jpa/src/testFixtures/java/com/xenoterracide/jpa/fixtures/FooAggregate.java
  module/commons-model/src/main/java/com/xenoterracide/commons/model/EntityIdentifier.java
  module/commons-model/src/main/java/com/xenoterracide/commons/model/Identifiable.java
  module/commons-model/src/main/java/com/xenoterracide/commons/model/WritableRepository.java
  module/commons-model/src/test/java/com/xenoterracide/commons/model/test/Foo.java
  module/commons-model/src/test/java/com/xenoterracide/commons/model/test/IdentifiableTest.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/IdentityProviderUser.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/User.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/UserFactory.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/UserRepository.java
  module/security-model/src/testFixtures/java/com/xenoterracide/model/security/fixtures/UserTestDataBuilders.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: remove @NonNull (#136)
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractAggregate.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractIdentitifier.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractSurrogateEntity.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AggregateIdentifier.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/DomainEvent.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/transaction/TransactionScopeConfiguration.java
  module/commons-jpa/src/testFixtures/java/com/xenoterracide/jpa/fixtures/BarEntity.java
  module/commons-jpa/src/testFixtures/java/com/xenoterracide/jpa/fixtures/FooAggregate.java
  module/commons-model/src/main/java/com/xenoterracide/commons/model/EntityIdentifier.java
  module/commons-model/src/main/java/com/xenoterracide/commons/model/Identifiable.java
  module/commons-model/src/main/java/com/xenoterracide/commons/model/WritableRepository.java
  module/commons-model/src/test/java/com/xenoterracide/commons/model/test/Foo.java
  module/commons-model/src/test/java/com/xenoterracide/commons/model/test/IdentifiableTest.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/IdentityProviderUser.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/User.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/UserFactory.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/UserRepository.java
  module/security-model/src/testFixtures/java/com/xenoterracide/model/security/fixtures/UserTestDataBuilders.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

[create-pull-request] automated change
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#137)
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore(gradle): add EclipseLink and Helidon Data dependencies
  gradle/libs.versions.toml
Due: none

chore(project): replace Spring Data JPA with Helidon and EclipseLink
  gradle/libs.versions.toml
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/commons-jpa/src/testFixtures/java/com/xenoterracide/jpa/fixtures/FooAggregateRepository.java
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateTransactionTest.java
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(project): remove Spring modules and related tests
  gradle/libs.versions.toml
  module/app-core/gradle.lockfile
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractSurrogateEntity.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/annotation/TransactionScope.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/transaction/TransactionScopeConfiguration.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/transaction/package-info.java
  module/commons-jpa/src/main/java/module-info.java
  module/commons-jpa/src/test/java/com/xenoterracide/commons/jpa/test/FooAggregateJpaTest.java
  module/commons-jpa/src/test/java/com/xenoterracide/commons/jpa/test/transaction/TransactionScopeConfigurationTest.java
  module/commons-jpa/src/test/java/module-info.java
  module/commons-jpa/src/test/resources/application.yaml
  module/commons-jpa/src/testFixtures/java/com/xenoterracide/jpa/fixtures/BarEntity.java
  module/commons-jpa/src/testFixtures/java/com/xenoterracide/jpa/fixtures/FooAggregate.java
  module/commons-jpa/src/testFixtures/java/com/xenoterracide/jpa/fixtures/FooAggregateRepository.java
  module/commons-jpa/src/testFixtures/java/com/xenoterracide/jpa/fixtures/RevEntity.java
  module/commons-jpa/src/testFixtures/java/module-info.java
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateDomainEventsTest.java
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateTransactionTest.java
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(commons-jpa): update test dependencies for Helidon and H2 support
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(commons-jpa): update module declarations and tests for Helidon and EclipseLink integration
  module/commons-jpa/src/main/java/module-info.java
  module/commons-jpa/src/test/java/com/xenoterracide/commons/jpa/test/FooAggregateJpaTest.java
  module/commons-jpa/src/test/java/module-info.java
  module/commons-jpa/src/testFixtures/java/module-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore(project): update JPA entities for Helidon/EclipseLink, refine config and dependencies
  .gitignore
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractAggregate.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractIdentitifier.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractSurrogateEntity.java
  module/commons-jpa/src/test/java/com/xenoterracide/commons/jpa/test/FooAggregateJpaTest.java
  module/commons-jpa/src/test/resources/application.yaml
  package.json
  yarn.lock
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore(project): add Log4j logging for Helidon tests, update config and dependencies
  .prettierrc.cjs
  .prettierrc.mts
  gradle.properties
  gradle/libs.versions.toml
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/commons-jpa/src/test/java/com/xenoterracide/commons/jpa/test/FooAggregateJpaTest.java
  module/commons-jpa/src/test/java/module-info.java
  module/commons-jpa/src/test/resources/application.yaml
  module/commons-jpa/src/test/resources/log4j2.properties
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(project): update logging patterns, normalize property formatting, set Gradle console to plain
  gradle.properties
  module/app-core/src/test/resources/application.properties
  module/commons-jpa/src/test/resources/log4j2.properties
Due: none

chore(project): enable ANSI for Log4j2 in tests, refine log pattern, clean up config
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  module/commons-jpa/src/test/resources/application.yaml
  module/commons-jpa/src/test/resources/log4j2.properties
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

[create-pull-request] automated change
  gradle/wrapper/gradle-wrapper.properties
Due: none

[create-pull-request] automated change (#138)
  gradle/wrapper/gradle-wrapper.properties
Due: none

chore(helidon): update datasource config, dependencies, and logging for Helidon integration
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  gradle/libs.versions.toml
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/commons-jpa/src/main/java/module-info.java
  module/commons-jpa/src/test/java/com/xenoterracide/commons/jpa/test/FooAggregateJpaTest.java
  module/commons-jpa/src/test/resources/application.yaml
  module/commons-jpa/src/test/resources/log4j2.properties
  module/commons-jpa/src/testFixtures/java/module-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(project): remove unused Gemini CLI dev dependency, clean up entity annotations
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractSurrogateEntity.java
  package.json
  yarn.lock
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore(helidon): add Helidon transaction test suite, update entity versioning, and refine test dependencies
  gradle/libs.versions.toml
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractSurrogateEntity.java
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateTransactionTest.java
  module/commons-jpa/src/testWhitebox/resources/application.yaml
  module/commons-jpa/src/testWhitebox/resources/log4j2.properties
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(helidon): remove dirty tracking from entities, refine version handling and toString fields
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractAggregate.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractSurrogateEntity.java
  module/commons-jpa/src/testFixtures/java/com/xenoterracide/jpa/fixtures/BarEntity.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore(project): update linting config, docs, and module exports
  .ai/skills/commit-message/SKILL.md
  .lintstagedrc.yml
  AGENTS.md
  module/security-model/src/main/java/com/xenoterracide/model/security/RevEntity.java
  module/security-model/src/main/java/com/xenoterracide/model/security/package-info.java
  module/security-model/src/main/java/module-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore(project): update linting config, docs, and module exports
  AGENTS.md
Due: none

chore(lint): add comment clarifying UTF-8 handling for .properties files in lint-staged config
  .lintstagedrc.yml
Due: none

chore(docs): remove redundant quality and design sections from AGENTS.md
  AGENTS.md
Due: none

chore(helidon): refactor identifier accessors, update log pattern, and tidy test setup
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractAggregate.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractIdentitifier.java
  module/commons-jpa/src/test/java/com/xenoterracide/commons/jpa/test/FooAggregateJpaTest.java
  module/commons-jpa/src/test/resources/log4j2.properties
  module/commons-jpa/src/testWhitebox/resources/log4j2.properties
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore(helidon): clarify null check message for id and update test assertion
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AbstractSurrogateEntity.java
  module/commons-jpa/src/test/java/com/xenoterracide/commons/jpa/test/FooAggregateJpaTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: remove modulith test
  module/security-model/src/test/java/com/xenoterracide/model/security/user/test/ModulithTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore(helidon): update dependencies and configuration for Helidon data and JPA integration
  gradle/libs.versions.toml
  module/app-core/gradle.lockfile
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateTransactionTest.java
  module/security-controller/gradle.lockfile
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  module/security-model/src/main/java/module-info.java
  module/security-model/src/test/java/com/xenoterracide/model/security/user/test/UserJpaTest.java
  module/security-model/src/test/java/module-info.java
  module/security-model/src/test/resources/application.yaml
  module/security-model/src/test/resources/log4j2.properties
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(helidon): update Helidon data dependencies and refactor repository interfaces
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/commons-model/src/main/java/com/xenoterracide/commons/model/WritableRepository.java
  module/commons-model/src/test/java/com/xenoterracide/commons/model/test/WritableRepositoryTest.java
  module/security-controller/gradle.lockfile
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  module/security-model/src/main/java/com/xenoterracide/model/security/user/User.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/UserRepository.java
  module/security-model/src/main/java/module-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(helidon): update JPA entity accessors and modify dependencies for identity provider user
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  module/security-model/src/main/java/com/xenoterracide/model/security/user/IdentityProviderUser.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/User.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/UserFactory.java
  module/security-model/src/main/java/com/xenoterracide/model/security/user/UserRepository.java
  module/security-model/src/test/java/com/xenoterracide/model/security/user/test/UserJpaTest.java
  module/security-model/src/test/java/module-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

[create-pull-request] automated change
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change (#139)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

chore(helidon): update Gradle dependencies and remove unused libraries
  .config/git/hooks/prepare-commit-msg
  module/app-core/gradle.lockfile
  module/security-controller/build.gradle.kts
  module/security-controller/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(helidon): rename SKILL.md and update description for commit message generation
  .ai/skills/commit-or-pr-message/SKILL.md
  .ai/skills/shell-script/SKILL.md
Due: none

chore(helidon): rename SKILL.md to shell-script and update description
  .ai/skills/shell-script/SKILL.md
Due: none

chore(helidon): consolidate SKILL.md files by renaming and merging content
  .github/skills/commit-or-pr-message/SKILL.md
  .github/skills/shell-script/SKILL.md
Due: none

chore(helidon): clarify Gradle check requirements in AGENTS.md
  AGENTS.md
Due: none

chore(pr-message): enhance script for generating commit messages
  .github/copilot-instructions.md
  .github/git-commit-instructions.md
  .github/skills/commit-or-pr-message/SKILL.md
  .github/skills/shell-script/SKILL.md
  Makefile
  package.json
  scripts/pr-message.sh
  yarn.lock
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights
