Repository xenoterracide/spring-app-commons: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

.lintstagedrc.yml:

# SPDX-FileCopyrightText: Copyright Â© 2024 - 2025 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

# Software
"*.java":
  - "reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - &prettier "prettier --cache --ignore-unknown --write"
# Build Scripts
"*.gradle.kts":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised"
  - ktlint --format
"Makefile":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
"*.github/workflows/*yml":
  - *prettier
# Documentation
"(*.md|*.adoc)":
  - "reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Trivial files
"(*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Python requirements
"requirements.*":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python"
# Gradle Wrapper
"gradle-wrapper.jar":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license"

chore: add new documentation and scripts for commit message generation
  .github/copilot-instructions.md
  .github/git-commit-instructions.md
  .github/skills/commit-or-pr-message/SKILL.md
  .github/skills/shell-script/SKILL.md
  .gitignore
  AGENTS.md
  scripts/pr-message.sh
Due: none

chore(make): update PR creation script to use dynamic message files
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(dependencies): add GitHub Copilot as a dev dependency
  package.json
  yarn.lock
Due: none

chore(dependencies): add concurrently as a dev dependency
  package.json
  yarn.lock
Due: none

Revert "chore(dependencies): add concurrently as a dev dependency"
  package.json
  yarn.lock
Due: none

chore(pr-message): enhance error handling and PR creation logic
  Makefile
  scripts/pr-message.sh
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(pr-message): update bullet point guidelines in commit message template
  .github/skills/commit-or-pr-message/SKILL.md
  scripts/pr-message.sh
Due: none

chore(prettier): add Prettier configuration and plugins
  .prettierrc.cjs
  .prettierrc.mts
  Makefile
  package.json
  yarn.lock
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(pr-message): improve PR creation and editing feedback
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(pr-message): update PR message feedback during editing
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(pr-message): add feedback for PR message update in Makefile
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(pr-message): update PR view command in Makefile
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(skill): rename commit-message to commit-or-pr-message
  .github/skills/commit-or-pr-message/SKILL.md
  scripts/pr-message.sh
Due: none

chore(properties): standardize formatting in configuration files
  gradle.properties
  module/app-core/src/test/resources/application.properties
  module/authn-controller/src/demoServer/resources/application.properties
  module/security-controller/src/demoServer/resources/application.properties
  module/security-controller/src/test/resources/application-graphql.properties
  module/test-app-core/src/main/resources/application-test-http.properties
  module/test-app-core/src/main/resources/application-test-jpa.properties
  module/test-app-core/src/main/resources/application-test-oidc.properties
  module/test-app-core/src/main/resources/application-test.properties
  module/test-app-core/src/main/resources/application.properties
  module/test-authorization-server/src/main/resources/application.properties
Due: none

Update .github/skills/shell-script/SKILL.md
  .github/skills/shell-script/SKILL.md
Due: none

chore(pr-message): remove default skill file path from script
  scripts/pr-message.sh
Due: none

chore(readme): standardize formatting for GitHub credentials section
  README.md
Due: none

chore(ci): add pr message automation (#140)
  .github/copilot-instructions.md
  .github/git-commit-instructions.md
  .github/skills/commit-or-pr-message/SKILL.md
  .github/skills/shell-script/SKILL.md
  .gitignore
  .prettierrc.cjs
  .prettierrc.mts
  AGENTS.md
  Makefile
  README.md
  gradle.properties
  module/app-core/src/test/resources/application.properties
  module/authn-controller/src/demoServer/resources/application.properties
  module/security-controller/src/demoServer/resources/application.properties
  module/security-controller/src/test/resources/application-graphql.properties
  module/test-app-core/src/main/resources/application-test-http.properties
  module/test-app-core/src/main/resources/application-test-jpa.properties
  module/test-app-core/src/main/resources/application-test-oidc.properties
  module/test-app-core/src/main/resources/application-test.properties
  module/test-app-core/src/main/resources/application.properties
  module/test-authorization-server/src/main/resources/application.properties
  package.json
  scripts/pr-message.sh
  yarn.lock
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(skill): migrate skill files to `.ai` directory and remove unused instructions
  .ai/skills/commit-or-pr-message/SKILL.md
  .ai/skills/shell-script/SKILL.md
  .github/git-commit-instructions.md
Due: none

chore(make): use dynamic SKILL_FILE variable for PR message script
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(make): adjust dependencies and improve PR workflow
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(make): improve PR merge workflow logic
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(skill): add SKILL.md for Skill Creator with guidelines for crafting AI-focused extensions
  .ai/skills/skill-creator/SKILL.md
Due: none

chore(skills): reorganize skill metadata (#141)
  .ai/skills/commit-or-pr-message/SKILL.md
  .ai/skills/shell-script/SKILL.md
  .ai/skills/skill-creator/SKILL.md
  .github/git-commit-instructions.md
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(helidon): update Gradle dependencies and document migration progress
  AGENTS.md
  gradle/libs.versions.toml
  gradle/wrapper/gradle-wrapper.properties.license
  module/security-controller/src/main/java/module-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore(dependencies): update Gradle dependencies and refine scripts
  AGENTS.md
  buildSrc/src/main/kotlin/our.bom.gradle.kts
  gradle/libs.versions.toml
  module/app-core/gradle.lockfile
  module/security-controller/build.gradle.kts
  module/security-controller/gradle.lockfile
  package.json
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(dependencies): add `rimraf` and update related scripts
  .gitignore
  Makefile
  buildSrc/src/main/kotlin/our.bom.gradle.kts
  gradle/libs.versions.toml
  package.json
  yarn.lock
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(testing): refine test suite configurations and update dependencies
  buildSrc/src/main/kotlin/our.jpamodel.gradle.kts
  module/security-controller/build.gradle.kts
  module/security-controller/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: remove unused prepare-commit-msg hook and related configurations
  .config/git/hooks/prepare-commit-msg
  .gitignore
  .lintstagedrc.yml
  AGENTS.md
  Makefile
  README.md
  package.json
  yarn.lock
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(ci): replace Makefile commands with Gradle in workflows
  .github/workflows/build.yml
  .github/workflows/full.yml
Due: prettier --cache --ignore-unknown --write

chore(repo): refresh tooling and hooks (#142)
  .config/git/hooks/prepare-commit-msg
  .github/workflows/build.yml
  .github/workflows/full.yml
  .gitignore
  .lintstagedrc.yml
  AGENTS.md
  Makefile
  README.md
  package.json
  yarn.lock
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore: remove ai files for subtree
  .ai/skills/commit-or-pr-message/SKILL.md
  .ai/skills/shell-script/SKILL.md
  .ai/skills/skill-creator/SKILL.md
Due: none

chore(skills): align skill licenses with CC0 (#143)
  .ai/skills/commit-or-pr-message/SKILL.md
  .ai/skills/shell-script/SKILL.md
  .ai/skills/skill-creator/SKILL.md
Due: none

chore(gradle): add Spring Boot version catalog and update dependencies to use aliases
  module/test-app-core/build.gradle.kts
  settings.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(gradle): switch to Spring Boot aliases; apply logback-to-log4j2 replacement and dependency updates
  build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/our.bom.gradle.kts
  buildSrc/src/main/kotlin/our.jpamodel.gradle.kts
  gradle/libs.versions.toml
  module/app-core/build.gradle.kts
  module/app-core/gradle.lockfile
  module/authn-controller/build.gradle.kts
  module/authn-controller/gradle.lockfile
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/commons-model/build.gradle.kts
  module/commons-model/gradle.lockfile
  module/security-controller/build.gradle.kts
  module/security-controller/gradle.lockfile
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/build.gradle.kts
  module/test-authorization-server/gradle.lockfile
  settings-gradle.lockfile
  settings.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(gradle): add runtime-only dependencies and update test configurations
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  module/test-authorization-server/build.gradle.kts
  module/test-authorization-server/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(gradle): add JvmTestSuite bundles and align dependency versions
  build.gradle.kts
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  gradle/libs.versions.toml
  module/app-core/build.gradle.kts
  module/app-core/gradle.lockfile
  module/authn-controller/build.gradle.kts
  module/authn-controller/gradle.lockfile
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/commons-model/build.gradle.kts
  module/commons-model/gradle.lockfile
  module/security-controller/build.gradle.kts
  module/security-controller/gradle.lockfile
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  module/test-app-core/build.gradle.kts
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/build.gradle.kts
  module/test-authorization-server/gradle.lockfile
  settings.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(gradle): align dependencies and optimize configurations
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  buildSrc/src/main/kotlin/our.jpamodel.gradle.kts
  gradle/libs.versions.toml
  module/app-core/gradle.lockfile
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/commons-model/build.gradle.kts
  module/security-controller/build.gradle.kts
  module/security-controller/gradle.lockfile
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  module/test-authorization-server/build.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

build(gradle): add spring boot catalog and align deps (#144)
  build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/our.bom.gradle.kts
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  buildSrc/src/main/kotlin/our.jpamodel.gradle.kts
  gradle/libs.versions.toml
  module/app-core/build.gradle.kts
  module/app-core/gradle.lockfile
  module/authn-controller/build.gradle.kts
  module/authn-controller/gradle.lockfile
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/commons-model/build.gradle.kts
  module/commons-model/gradle.lockfile
  module/security-controller/build.gradle.kts
  module/security-controller/gradle.lockfile
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  module/test-app-core/build.gradle.kts
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/build.gradle.kts
  module/test-authorization-server/gradle.lockfile
  settings-gradle.lockfile
  settings.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: remove .ia
  .ai/skills/commit-or-pr-message/SKILL.md
  .ai/skills/shell-script/SKILL.md
  .ai/skills/skill-creator/SKILL.md
Due: none
