Repository xenoterracide/spring-app-commons: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

.lintstagedrc.yml:

# SPDX-FileCopyrightText: Copyright Â© 2024 - 2025 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

# Software
"*.java":
  - "reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - &prettier "prettier --cache --ignore-unknown --write"
# Build Scripts
"*.gradle.kts":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised"
  - ktlint --format
"Makefile":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
"*.github/workflows/*yml":
  - *prettier
# Documentation
"(*.md|*.adoc)":
  - "reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Trivial files
"(*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Python requirements
"requirements.*":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python"
# Gradle Wrapper
"gradle-wrapper.jar":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license"

chore(deps): java (#296)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#297)
  buildscript-gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

chore(deps): java (#299)
  buildSrc/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

chore(deps): java (#301)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

chore(deps): java (#303)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
Due: none

chore(deps): java (#307)
  buildSrc/gradle.lockfile
Due: none

[create-pull-request] automated change
  gradle/wrapper/gradle-wrapper.properties
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/buildscript-gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

fix: asdf
  .envrc
  .tool-versions
Due: none

fix: asdf (#314)
  .envrc
  .tool-versions
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/buildscript-gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

fix: add modulith import
  module/app-core/src/main/java/module-info.java
  module/app-core/src/test/java/module-info.java
  module/security-model/src/main/java/module-info.java
  module/security-model/src/test/java/module-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore(deps): java (#312)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  module/app-core/gradle.lockfile
  module/app-core/src/main/java/module-info.java
  module/app-core/src/test/java/module-info.java
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/buildscript-gradle.lockfile
  module/security-model/gradle.lockfile
  module/security-model/src/main/java/module-info.java
  module/security-model/src/test/java/module-info.java
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore(deps): java (#319)
  buildSrc/gradle.lockfile
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore(deps): java (#322)
  buildSrc/gradle.lockfile
Due: none

chore(deps): java (#323)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

chore(deps): java (#325)
  gradle/wrapper/gradle-wrapper.properties
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore(deps): java (#326)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

chore(formatting): update prettier
  module/app-core/src/test/java/com/xenoterracide/test/ApplicationTest.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/AggregateIdentifier.java
  module/commons-jpa/src/main/java/com/xenoterracide/commons/jpa/annotation/TransactionScope.java
  module/commons-jpa/src/testFixtures/java/com/xenoterracide/jpa/fixtures/BarEntity.java
  module/commons-jpa/src/whitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateTransactionTest.java
  module/commons-model/src/main/java/com/xenoterracide/commons/model/EntityIdentifier.java
  module/test-authorization-server/src/main/java/com/xenoterracide/authorization/server/AuthorizationServer.java
  module/test-authorization-server/src/test/java/com/xenoterracide/authorization/server/AuthorizationServerTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore(deps): java (#328)
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#329)
  buildSrc/gradle.lockfile
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore(deps): java (#330)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

chore: make nullaway detect more annotations
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: make nullaway detect more annotations (#331)
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(nullaway): configure more globally
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format
