Repository xenoterracide/spring-app-commons: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

.lintstagedrc.yml:

# SPDX-FileCopyrightText: Copyright Â© 2024 - 2025 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

# Software
"*.java":
  - "reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - &prettier "prettier --cache --ignore-unknown --write"
# Build Scripts
"*.gradle.kts":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised"
  - ktlint --format
"Makefile":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
"*.github/workflows/*yml":
  - *prettier
# Documentation
"(*.md|*.adoc)":
  - "reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Trivial files
"(*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Python requirements
"requirements.*":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python"
# Gradle Wrapper
"gradle-wrapper.jar":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license"

[create-pull-request] automated change
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change (#14)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
Due: none

[create-pull-request] automated change (#15)
  buildSrc/gradle.lockfile
Due: none

[create-pull-request] automated change (#16)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

Update workflows to use 'develop' branch as the target
  .github/workflows/build.yml
  .github/workflows/full.yml
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

chore: Update GitHub Actions to dynamically use the workflow branch
  .github/workflows/build.yml
  .github/workflows/full.yml
  .github/workflows/gh-publish.yml
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

chore: Update access modifiers and ignore patterns in main.xml configuration
  .config/checkstyle/main.xml
Due: none

chore: Fix formatting issues in main.xml configuration
  .config/checkstyle/main.xml
Due: none

ci: fix checkstyle and various builds (#21)
  .config/checkstyle/main.xml
  .github/workflows/build.yml
  .github/workflows/full.yml
  .github/workflows/gh-publish.yml
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore(deps): java (#19)
  .config/checkstyle/main.xml
  .github/workflows/build.yml
  .github/workflows/full.yml
  .github/workflows/gh-publish.yml
  .github/workflows/pre-commit.yml
  .tool-versions
  buildSrc/gradle.lockfile
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
  package-lock.json
  requirements.txt
Due: prettier --cache --ignore-unknown --write, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python

[create-pull-request] automated change (#22)
  buildSrc/gradle.lockfile
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore(ci): sync pre-commit.yml with gradle-semver
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

[create-pull-request] automated change (#25)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change (#26)
  buildSrc/gradle.lockfile
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#27)
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change (#30)
  buildSrc/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

chore(ci): sync pre-commit.yml with gradle-semver (#31)
  .github/workflows/pre-commit.yml
Due: prettier --cache --ignore-unknown --write

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#32)
  buildSrc/gradle.lockfile
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  gradlew.bat
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#33)
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#34)
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore: update develocity plugin version to 4.2 and adjust related hashes
  settings.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: update develocity plugin version to 4.2 and adjust related hashes (#35)
  settings.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: update SpotBugs plugin coordinates in libs.versions.toml
  gradle/libs.versions.toml
Due: none

chore: update SpotBugs plugin coordinates in libs.versions.toml (#36)
  gradle/libs.versions.toml
Due: none

chore: update shadow plugin coordinates in libs.versions.toml (#37)
  gradle/libs.versions.toml
Due: none

chore: update shadow plugin coordinates in libs.versions.toml (#37) (#37)
  gradle/libs.versions.toml
Due: none

chore: update gradle properties
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle.properties
Due: none

chore: update deps
  requirements.txt
Due: reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python

chore: fix the date range
  gradle.properties
Due: none

chore/gradle properties (#38)
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle.properties
  requirements.txt
Due: reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python
