Repository xenoterracide/spring-app-commons: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

.lintstagedrc.yml:

# SPDX-FileCopyrightText: Copyright Â© 2024 - 2025 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

# Software
"*.java":
  - "reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - &prettier "prettier --cache --ignore-unknown --write"
# Build Scripts
"*.gradle.kts":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised"
  - ktlint --format
"Makefile":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
"*.github/workflows/*yml":
  - *prettier
# Documentation
"(*.md|*.adoc)":
  - "reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Trivial files
"(*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Python requirements
"requirements.*":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python"
# Gradle Wrapper
"gradle-wrapper.jar":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license"

[create-pull-request] automated change
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore(deps): java (#160)
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore(deps): update dependency mapping from `sb` to `sbd3` and bump version-catalog-spring-boot to 3.5.0
  build.gradle.kts
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  gradle/libs.versions.toml
  module/app-core/build.gradle.kts
  module/authn-controller/build.gradle.kts
  module/commons-jpa/build.gradle.kts
  module/commons-model/build.gradle.kts
  module/security-controller/build.gradle.kts
  module/security-model/build.gradle.kts
  module/test-app-core/build.gradle.kts
  module/test-authorization-server/build.gradle.kts
  settings.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(deps): add `sbd4` mapping to version catalog and configure Spring Boot 4.0.0 bundles
  buildSrc/settings.gradle.kts
  settings.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(deps): remove `junit-jupiter-engine` from lockfiles and migrate from `sbd3` to `sbd4` configurations
  buildSrc/build.gradle.kts
  buildSrc/settings.gradle.kts
  buildSrc/src/main/kotlin/our.bom.gradle.kts
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  scripts/pr-message.sh
  settings-gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(deps): update dependency versions and lockfiles for Gradle modules, including Spring Boot 4.0.3 and related libraries
  build.gradle.kts
  buildSrc/src/main/kotlin/our.bom.gradle.kts
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  buildSrc/src/main/kotlin/our.jpamodel.gradle.kts
  gradle/libs.versions.toml
  module/app-core/build.gradle.kts
  module/app-core/gradle.lockfile
  module/authn-controller/build.gradle.kts
  module/authn-controller/gradle.lockfile
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/commons-model/build.gradle.kts
  module/commons-model/gradle.lockfile
  module/security-controller/build.gradle.kts
  module/security-controller/gradle.lockfile
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  module/test-app-core/build.gradle.kts
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/build.gradle.kts
  module/test-authorization-server/gradle.lockfile
  settings-gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(deps): update Jakarta EE BOM to version 11.0.0 and related dependencies in Gradle modules
  gradle/libs.versions.toml
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore: simplify AuthorizationServer configuration by removing unused code and consolidating security setup
  module/test-authorization-server/src/main/java/com/xenoterracide/authorization/server/AuthorizationServer.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: clean up unused classes, dependencies, and test configurations; include `spring.boot.data.jpa.test` where needed
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/commons-jpa/src/test/java/com/xenoterracide/commons/jpa/test/FooAggregateJpaTest.java
  module/commons-jpa/src/test/java/module-info.java
  module/commons-jpa/src/testFixtures/java/com/xenoterracide/jpa/fixtures/RevEntity.java
  module/commons-model/build.gradle.kts
  module/commons-model/gradle.lockfile
  module/commons-model/src/test/java/com/xenoterracide/commons/model/test/WritableRepositoryTest.java
  module/commons-model/src/test/java/module-info.java
  module/security-model/src/main/java/com/xenoterracide/model/security/RevEntity.java
  module/security-model/src/main/java/com/xenoterracide/model/security/package-info.java
  module/security-model/src/main/java/module-info.java
  module/test-app-core/build.gradle.kts
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

[create-pull-request] automated change
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

chore(deps): java (#161)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

chore(deps): update `junit-jupiter-engine` to 6.0.3 in lockfiles and enhance Jakarta EL capability mapping in Gradle configuration
  buildSrc/src/main/kotlin/our.bom.gradle.kts
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
  settings.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(deps): update `jboss-logging` to 3.6.2.Final in lockfiles and remove JPMS rejection rule in Gradle configuration
  buildSrc/src/main/kotlin/our.bom.gradle.kts
  module/app-core/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(deps): add `spring.boot.graphql.test` to dependencies and update related Gradle and JPMS configurations
  module/security-controller/build.gradle.kts
  module/security-controller/gradle.lockfile
  module/security-controller/src/test/java/com/xenoterracide/model/security/controller/test/RegistrationCtrlrTest.java
  module/security-controller/src/test/java/module-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(deps): refine Gradle configurations and update lockfiles; align `spring.boot.data.jpa.test` and Jakarta EL mappings
  build.gradle.kts
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  module/app-core/gradle.lockfile
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateDomainEventsTest.java
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateTransactionTest.java
  module/commons-model/build.gradle.kts
  module/commons-model/gradle.lockfile
  module/security-controller/build.gradle.kts
  module/security-controller/gradle.lockfile
  module/security-controller/src/main/java/com/xenoterracide/controller/security/RegistrationCtrlr.java
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  module/security-model/src/test/java/com/xenoterracide/model/security/user/test/UserJpaTest.java
  settings.gradle.kts
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(deps): update `spring.boot.data.jpa.test` to `implementation` in Gradle config and adjust test runtime mappings in lockfiles; simplify SPDX license declaration
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/security-controller/src/main/java/com/xenoterracide/controller/security/RegistrationCtrlr.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: comment out `spring.boot.test.autoconfigure` in JPMS configs and refine Gradle configurations; optimize test imports and parameter declarations
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
  module/commons-jpa/src/test/java/com/xenoterracide/commons/jpa/test/transaction/TransactionScopeConfigurationTest.java
  module/commons-jpa/src/test/java/module-info.java
  module/commons-model/src/test/java/module-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: optimize imports in `TransactionScopeConfigurationTest` for readability and maintainability
  module/commons-jpa/src/test/java/com/xenoterracide/commons/jpa/test/transaction/TransactionScopeConfigurationTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: remove unnecessary exception declaration in `provideArguments` method for `TransactionScopeConfigurationTest`
  module/commons-jpa/src/test/java/com/xenoterracide/commons/jpa/test/transaction/TransactionScopeConfigurationTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore(deps): update Gradle lockfiles and configurations; include `spring.boot.data.jpa.test`, `spring.boot.test-autoconfigure`, and related dependencies in test runtime mappings
  AGENTS.md
  module/commons-model/build.gradle.kts
  module/commons-model/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: fix typo in AGENTS.md and add `@Module` annotation to `package-info.java` in security model
  AGENTS.md
  module/security-model/src/main/java/com/xenoterracide/model/security/user/package-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: simplify SPDX license declaration in `package-info.java` of security model
  module/security-model/src/main/java/com/xenoterracide/model/security/user/package-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: configure public and confidential OAuth2 clients for test authorization server; update Gradle configs and add PKCE, token, and client credentials tests
  build.gradle.kts
  module/test-authorization-server/src/main/java/com/xenoterracide/authorization/server/AuthorizationServer.java
  module/test-authorization-server/src/main/resources/application.properties
  module/test-authorization-server/src/test/java/com/xenoterracide/authorization/server/AuthorizationServerTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(gradle): update configurations for `spring.boot.servlet` and refine dependency mappings; remove unnecessary exception declarations in `SecurityFilterChain` methods
  build.gradle.kts
  module/test-authorization-server/build.gradle.kts
  module/test-authorization-server/gradle.lockfile
  module/test-authorization-server/src/main/java/com/xenoterracide/authorization/server/AuthorizationServer.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(gradle): migrate from `spring-boot-starter-logging` to `spring-boot-starter-log4j2` across modules; update Gradle lockfiles and refine runtime dependency mappings
  buildSrc/src/main/kotlin/our.bom.gradle.kts
  module/app-core/build.gradle.kts
  module/authn-controller/build.gradle.kts
  module/commons-jpa/build.gradle.kts
  module/commons-model/gradle.lockfile
  module/security-controller/build.gradle.kts
  module/security-model/build.gradle.kts
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(makefile): simplify `pr-message.sh` invocation by removing redundant `./scripts` prefix
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(makefile): add support for creating minimal PRs and improve workflow handling in `watch-full`
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(makefile): refactor workflow handling and simplify PR creation logic
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

chore(makefile): update `pr-message.sh` path to `.share/bin` for consistent script referencing in PR workflows
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

fix(Makefile): update PR message script to exit with error on failure
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

build(makefile): fail on pr-message errors and remove auto-merge (#163)
  Makefile
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights

[create-pull-request] automated change
  settings-gradle.lockfile
Due: none

chore(deps): java (#164)
  settings-gradle.lockfile
Due: none

chore(gradle): remove unused `sbd3` version catalog configuration
  settings.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(workflows): consolidate GitHub Actions into a unified build, full, and publish workflow
  .github/workflows/build.yml
  .github/workflows/full.yml
  .github/workflows/gh-publish.yml
Due: prettier --cache --ignore-unknown --write

chore(workflows): pin `update-java.yml` workflow to specific commit hash
  .github/workflows/update-java.yml
Due: prettier --cache --ignore-unknown --write

chore(gradle): add workaround for Gradle metadata task dependency issue
  buildSrc/src/main/kotlin/our.convention.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

docs(agents): advise linking upstream bugs in comments when relevant
  AGENTS.md
Due: none

chore(gradle): address duplicate javadoc artifacts and improve metadata task dependencies
  buildSrc/src/main/kotlin/our.convention.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format
