Repository xenoterracide/spring-app-commons: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore(nullaway): configure more globally (#332)
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: fix bugs
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(nullaway): treat test fixtures as code in main
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore(nullaway): fix configuration bug (#333)
  buildSrc/src/main/kotlin/our.javacompile.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: rename whitebox test suite references to testWhitebox
  buildSrc/src/main/kotlin/our.jpamodel.gradle.kts
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/AbstractSplatTest.java
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateDomainEventsTest.java
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateTransactionTest.java
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  module/security-model/src/testWhitebox/java/com/xenoterracide/model/security/DDDTest.java
  module/security-model/src/testWhitebox/java/com/xenoterracide/model/security/UserTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: update gradle.lockfile for dependency adjustments
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

chore: rename whitebox.xml to testWhitebox.xml
  .config/checkstyle/testWhitebox.xml
Due: none

chore: rename whitebox test suite references to testWhitebox (#334)
  .config/checkstyle/testWhitebox.xml
  buildSrc/src/main/kotlin/our.jpamodel.gradle.kts
  module/commons-jpa/build.gradle.kts
  module/commons-jpa/gradle.lockfile
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/AbstractSplatTest.java
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateDomainEventsTest.java
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateTransactionTest.java
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  module/security-model/src/testWhitebox/java/com/xenoterracide/model/security/DDDTest.java
  module/security-model/src/testWhitebox/java/com/xenoterracide/model/security/UserTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: use pip-compile not pip_requirements
  .github/renovate.json5
Due: none

chore: use pip-compile not pip_requirements (#335)
  .github/renovate.json5
Due: none

chore: add pip-compile manager file patterns to renovate configuration
  .github/renovate.json5
Due: none

chore: add pip-compile manager file patterns to renovate configuration (#336)
  .github/renovate.json5
Due: none

chore: add axon
  gradle/libs.versions.toml
  module/app-core/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/build.gradle.kts
  module/security-model/gradle.lockfile
  module/security-model/src/main/java/com/xenoterracide/model/security/user/User.java
  module/security-model/src/main/java/module-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: update renovate configuration to enable pip-compile and disable pip_requirements and pip_setup
  .github/renovate.json5
Due: none

chore: update renovate configuration to enable pip-compile and disable pip_requirements and pip_setup (#337)
  .github/renovate.json5
Due: none

chore: simplify regex for requirements
  .github/renovate.json5
Due: none

chore: run gradle checks
  .github/renovate.json5
Due: none

chore: simplify regex for requirements (#338)
  .github/renovate.json5
Due: none

chore: revert pip-compile configuration to use pip_requirements
  .github/renovate.json5
Due: none

chore: add cache encryption key for Gradle setup
  .github/workflows/full.yml
Due: prettier --cache --ignore-unknown --write

chore: revert pip-compile configuration to use pip_requirements (#339)
  .github/renovate.json5
  .github/workflows/full.yml
Due: prettier --cache --ignore-unknown --write

[create-pull-request] automated change
  module/security-model/gradle.lockfile
Due: none

chore(deps): java (#343)
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

chore(deps): java (#344)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildscript-gradle.lockfile
Due: none

chore(deps): java (#345)
  buildscript-gradle.lockfile
Due: none

[create-pull-request] automated change
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore(deps): java (#347)
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore(deps): java (#348)
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

[create-pull-request] automated change (#8)
  buildSrc/buildscript-gradle.lockfile
  buildSrc/gradle.lockfile
  buildscript-gradle.lockfile
  gradle/wrapper/gradle-wrapper.jar
  gradle/wrapper/gradle-wrapper.properties
  gradlew
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

chore: optimize lintstaged pattern matching
  .lintstagedrc.yml
Due: none

[create-pull-request] automated change (#9)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#11)
  buildSrc/gradle.lockfile
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#13)
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

Path conditions:
  reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: *.java
  prettier --cache --ignore-unknown --write: (((any of: *.java) or (any of: *.github/workflows/*yml)) or (any of: (*.md|*.adoc))) or (any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap))
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised: any of: *.gradle.kts
  ktlint --format: any of: *.gradle.kts
  reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: Makefile
  reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.md|*.adoc)
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights: any of: (*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)
  reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python: any of: requirements.*
  reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license: any of: gradle-wrapper.jar
