Repository xenoterracide/spring-app-commons: changes, and which lint-staged commands are due for each by the changed paths.
All: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format, reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python, reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license

.lintstagedrc.yml:

# SPDX-FileCopyrightText: Copyright Â© 2024 - 2025 Caleb Cushing
#
# SPDX-License-Identifier: CC0-1.0

# Software
"*.java":
  - "reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - &prettier "prettier --cache --ignore-unknown --write"
# Build Scripts
"*.gradle.kts":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised"
  - ktlint --format
"Makefile":
  - "reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
"*.github/workflows/*yml":
  - *prettier
# Documentation
"(*.md|*.adoc)":
  - "reuse annotate --license 'CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Trivial files
"(*.xml|*.yml|*ignore|*.properties|*.toml|*.json5|.editorconfig|.gitattributes|.mailmap)":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights"
  - *prettier
# Python requirements
"requirements.*":
  - "reuse annotate --license 'CC0-1.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --style python"
# Gradle Wrapper
"gradle-wrapper.jar":
  - "reuse annotate --license 'Apache-2.0' --copyright 'Gradle, Inc' --copyright-prefix spdx-string-symbol --merge-copyrights --force-dot-license"

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  module/app-core/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change (#39)
  buildSrc/gradle.lockfile
  module/app-core/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

chore: remove unused test report configurations and afterSuite logging
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: remove unused test report configurations and afterSuite logging (#41)
  buildSrc/src/main/kotlin/our.javatest.gradle.kts
Due: reuse annotate --license 'MIT' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights --skip-unrecognised, ktlint --format

chore: replace npx with yarn for lint-staged and git-conventional-commits hooks; update .gitignore and add .yarnrc.yml
  .config/git/hooks/commit-msg
  .config/git/hooks/pre-commit
  .github/workflows/pre-commit.yml
  .gitignore
  .lintstagedrc.yml
  .prettierrc.yml
  .tool-versions.license
  REUSE.toml
  gradle/wrapper/gradle-wrapper.jar.license
  package-lock.json
  package.json
  prettierrc.js
  yarn.lock
Due: prettier --cache --ignore-unknown --write

chore: update README to replace NPM with Yarn 4 for dependency management and add setup instructions
  README.md
Due: none

chore: migrate to yarn (#42)
  .config/git/hooks/commit-msg
  .config/git/hooks/pre-commit
  .github/workflows/pre-commit.yml
  .gitignore
  .lintstagedrc.yml
  .prettierrc.yml
  .tool-versions.license
  README.md
  REUSE.toml
  gradle/wrapper/gradle-wrapper.jar.license
  package-lock.json
  package.json
  prettierrc.js
  yarn.lock
Due: prettier --cache --ignore-unknown --write

[create-pull-request] automated change
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change (#44)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#46)
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

chore: fix prettier config location
  .prettierrc.js
Due: none

chore: update formatting
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateTransactionTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: fix prettier config location (#47)
  .prettierrc.js
  module/commons-jpa/src/testWhitebox/java/com/xenoterracide/jpa/fixtures/FooAggregateTransactionTest.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

[create-pull-request] automated change (#49)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change (#50)
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change (#52)
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change (#54)
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change (#55)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change (#56)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

[create-pull-request] automated change
  buildSrc/gradle.lockfile
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#58)
  buildSrc/gradle.lockfile
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#60)
  buildSrc/gradle.lockfile
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#63)
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#64)
  module/app-core/gradle.lockfile
  module/authn-controller/gradle.lockfile
  module/commons-jpa/gradle.lockfile
  module/commons-model/gradle.lockfile
  module/security-controller/gradle.lockfile
  module/security-model/gradle.lockfile
  module/test-app-core/gradle.lockfile
  module/test-authorization-server/gradle.lockfile
Due: none

[create-pull-request] automated change (#66)
  module/commons-jpa/gradle.lockfile
  module/security-model/gradle.lockfile
Due: none

chore: migrate prettier config to ESModule and update module dependencies
  .prettierrc.js
  .prettierrc.mts
  module/app-core/src/main/java/module-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write

chore: refactor `.prettierrc.mts` imports to use default imports for plugins
  .prettierrc.mts
Due: none

chore: update `.prettierrc.mts` to set `xmlWhitespaceSensitivity` to "ignore"
  .prettierrc.mts
Due: none

chore: fix prettierrc (#69)
  .prettierrc.js
  .prettierrc.mts
  module/app-core/src/main/java/module-info.java
Due: reuse annotate --license '(AGPL-3.0-or-later WITH Universal-FOSS-exception-1.0 AND CC-BY-4.0) OR CC-BY-NC-4.0' --copyright 'Caleb Cushing' --copyright-prefix spdx-string-symbol --merge-copyrights, prettier --cache --ignore-unknown --write
